[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
python-decouple = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
lxml = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"
bandit = "*"

[requires]
python_version = "3.13"
